.ThisWeatherCard{
    text-align: left;
    background-image: url('../Img/partlyCloudy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    box-shadow: 4px 7px 30px -11px rgba(0, 0, 0, 0.54);
}

.dayCard{
    text-align: center;
    color: white;
    background-image: url('../Img/5daysImg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    box-shadow: 4px 7px 30px -11px rgba(0, 0, 0, 0.54);
}

.chartDiv{
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 4px 7px 20px -11px rgba(0, 0, 0, 0.54);
    border-radius: 1rem;
}